
include includes/head.pug
body
  .wrapper
    include includes/header.pug
    main.page(role='main')
      .page__wrapper
        .page__screen.screen
          .screen__content
            h1.screen__title.screen__title-bg(
            data-swiper-parallax="50%",
            data-swiper-parallax-opacity="0"
            ) Hi, I'm Leonid, I am glad to welcome you to this resource. <br> Now I will briefly try to present and recommend myself.
            iframe(
              src="https://www.youtube.com/embed/KEkrWRHCDQU",
              frameborder="0",
              allow="accelerometer;autoplay;clipboard-write;encrypted-media; gyroscope; picture-in-picture",
               allowfullscreen
               )
            .link__wrap
              a.contact__icon(href="https://t.me/Lea_need") 
                i.fab.fa-telegram-plane
              a.contact__icon.contact__icon-desktop(href="viber://chat?number=+375259085861") 
                i.fab.fa-viber
              a.contact__icon.contact__icon-mobile(href="viber://add?number=375259085861")
                i.fab.fa-viber
              a.contact__icon(href="tel:+375259085861")
                i.fas.fa-mobile-alt
            #particles-js
          .screen__body
            .screen__bg
              img(
              src="img/bg.png",
              alt="Картинка",
              data-swiper-parallax-scale="1.8",
              data-swiper-parallax="33%"
              )
        .page__screen.screen
          .screen__content
            h1.screen__title.screen__title(
            data-swiper-parallax="-100%",
            data-swiper-parallax-opacity="0",
            data-swiper-parallax-duration="1000"
            ) Lorem 
            .screen__text(
            data-swiper-parallax="-100%",
            data-swiper-parallax-opacity="0",
            data-swiper-parallax-duration="900"
            ) 
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora repudiandae dolorem praesentium, numquam distinctio id tenetur accusamus eaque nobis mollitia explicabo repellendus corporis omnis voluptatum asperiores nesciunt molestias iure quisquam?
        .page__screen.screen
          .screen__content
            h1.screen__title.screen__title-bg(
            data-swiper-parallax="70%",
            data-swiper-parallax-opacity="0",
            data-swiper-parallax-duration="700"
            ) Skills
          .screen__body
            .screen__bg
              .overlay
              img(
                src="img/img_2.jpg",
                alt="Картинка", 
                data-swiper-parallax-scale="1.5",
                data-swiper-parallax="50%"
                )
        .page__screen.screen
          .screen__content
            h1.screen__title.screen__title(
            data-swiper-parallax="-70%",
            data-swiper-parallax-opacity="0",
            data-swiper-parallax-duration="900"
            ) Lorem ipsum dolor
            .screen__text(
            data-swiper-parallax="-65%",
            data-swiper-parallax-opacity="0",
            data-swiper-parallax-duration="900"
            )
              p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora repudiandae dolorem praesentium, numquam distinctio id tenetur accusamus eaque nobis mollitia explicabo repellendus corporis omnis voluptatum asperiores nesciunt molestias iure quisquam?
      .page__pagination
      .page__scroll    
    include includes/footer.pug